@charset "utf-8";
/* CSS Document */

html {
	background-color:#EBB654;
	font: normal 100%/1.5 sans-serif;
}

body {
	margin: 0 auto;
	padding-top: 1em;
	width: 55em;
}

h1, h2, h3{
	color: #fff;
	font:Verdana, Geneva, sans-serif;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
}

nav a,
nav a:link,
nav a:visited{
	display: inline-block;
	background-color:#EBB654;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #000;
	margin-top: 5em;
}

nav a:hover{
	color:#C60;
}

nav .current a,
nav .current a:link,
nav .current a:visited {
	background-color:#fff;
}

dl, dd {
	color: #fff;
	font: Verdana, Geneva, sans-serif;
}

article {
	background-color: #000;
	padding: 1em;
}