@charset "utf-8";
/* CSS Document */

html {
	background-color:#EBB654;
	font: normal 100%/1.5 sans-serif;
}

body {
	margin: 0 auto;
	padding-top: 1em;
	width: 35em;
}

h2, h3{
	color: #fff;
	font:Arial, Helvetica, sans-serif;
}

h1 {
	color: #000;
	font:Arial, Helvetica, sans-serif;
}

.logo {
	position:absolute;
	-moz-transform:scale(0.75);
    -webkit-transform:scale(0.75);
    transform:scale(0.75);
	margin-left: 5.75em;
	margin-top: -1em;

}

.ottawa, .finder {
	position: absolute;
	display:inline;
}

.ottawa {
	margin-top: 5.5em;
}

.container {
	background-color:#000;
	margin-top:9.5em;
	padding:2px;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
}

nav a,
nav a:link,
nav a:visited{
	display: inline-block;
	background-color:#EBB654;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #000;
	margin-top: 5em;
}

nav a:hover{
	color:#C60;
}

nav .current a,
nav .current a:link,
nav .current a:visited {
	background-color:#fff;
}

dl, dd {
	color: #fff;
	font: Verdana, Geneva, sans-serif;
}

article {
	background-color: #000;
	padding: 1em;
}